/* src/Header.css */
.header {
    background-color: #504e4e;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .nav {
    gap: 20px;
  }

  .header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .header nav a:hover {
    text-decoration: underline;
  }
  
  .nav-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px; /* Space between icon and text */
  }