.home-container {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f9;
    min-height: 100vh;
  }
  
  .home-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .home-container p {
    font-style: italic;
    font-size: 1.6em;
    margin-bottom: 30px;
    line-height: 1.8;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .app-text {
    text-align:justify; /* Align text for a neat appearance */
    color: #000000;       /* Change text color to a softer shade for better contrast */
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9; /* Optional: Add a light background to the text */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Optional: Add subtle shadow */
  }